# DATA
## transformation
pandas~=1.5.3


# WEB
## API
requests~=2.28.2

## backend
fastapi~=0.95.0
uvicorn[standard]~=0.21.1

## frontend
streamlit~=1.21.0
dash~=2.9.2
plotly==5.14.1

## BDD
pymongo~=4.3.3
motor~=3.1.2
sqlmodel~=0.0.8
psycopg2==2.8.6


# DEVOPS
## env
python-dotenv==1.0.0

## automation
schedule~=1.1.0
