# PROD
-r requirements.txt

# DEV
## linter
flake8==6.0.0

## code formatter
black==22.8.0
isort==5.12.0

## type checking
mypy==0.991

## security
bandit==1.7.4
safety==2.3.5

## test
pytest==7.2.1
pytest-cov==4.0.0
coverage==7.1.0

## EDA
jupyterlab~=3.5.3 
